@media(max-width:1080px) {
    .slider .banrcntprd {
        padding: 30px 0px 0px;
    }
    .slider .banrcntprd span {
        font-size: 20px;
        line-height: 30px;
        font-family: 'latoregular', Arial, Helvetica;
    }
    .slider .banrcntprd h2 {
        font-size: 30px;
        line-height: 40px;
        padding: 10px 0px;
    }
    .slider .banrcntprd h3 {
        line-height: 30px;
        font-size: 18px;
    }
    .slider .owl-dots {
        display: none;
    }
    .parthneranddivier h4 {
        font-size: 39px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .aboutus h4 {
        font-size: 30px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .aboutus p {
        font-size: 15px;
        line-height: 25px;
        margin: 0px 0px 15px;
    }
    .aboutus h5 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .aboutus a {
        padding: 10px 30px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .aboutus form {
        padding: 30px 40px;
        position: sticky;
        z-index: 9;
        top: 0px;
    }
    .aboutus form h4 {
        margin-bottom: 30px;
        font-size: 25px;
        padding-left: 0;
    }
    .aboutus h4 {
        margin-top: 10px;
        font-size: 25px;
        margin-bottom: 15px;
    }
    .whychociesus {
        padding: 30px 0px 30px !important;
    }
    .whychociesus h2 {
        margin-bottom: 20px;
    }
    .custom-software h2,
    .prices_Sec h4,
    .whychociesus h2 {
        font-size: 30px;
        margin: 0px 0px 30px;
    }
    .whychociesus .box-whych {
        padding: 20px;
        height: 200px;
        margin-top: 30px;
    }
    .custom-software {
        padding: 30px 0px 10px;
    }
    .custom-software p {
        font-size: 15px;
        line-height: 30px;
        text-align: justify;
        width: 100%;
        margin-bottom: 40px;
    }
    .custom-software ul {
        width: 100%;
        display: inline-block;
        padding: 0;
    }
    .custom-software ul li {
        max-width: calc(95% / 3);
        margin-bottom: 20px;
        display: inline-block;
    }
    .custom-software ul li:nth-child(3n+2) {
        margin-right: 10px;
        margin-left: 10px;
    }
    .custom-software ul li a h6 {
        font-size: 13px;
        letter-spacing: 0;
        line-height: 20px;
        margin: 15px auto 5px;
    }
    .widget-heading h3 {
        margin-bottom: 10px;
        font-size: 13px;
        letter-spacing: 0;
    }
    .widget-heading h2 {
        font-size: 42px;
        margin: 0px;
        line-height: 45px;
    }
    .widget-heading h2 span {
        font-size: 35px;
        letter-spacing: -1px;
    }
    .widget-textArea .widget-list p {
        font-size: 14px;
        line-height: 25px;
        padding-bottom: 0px;
        text-align: justify;
    }
    .widget-textArea .widget-number h3 {
        font-size: 20px;
    }
    .widget-textArea .widget-number p {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    .prices_Sec {
        margin: 0;
        padding: 0px 0px;
    }
    .prices_Sec h4.titlesection {
        margin-bottom: 30px;
        line-height: 45px;
        margin-top: 10px;
    }
    .box-price h4 {
        font-size: 18px !important;
        margin-bottom: 5px !important;
    }
    .box-price .box-title h4 {
        font-size: 15em !important;
    }
    .box-price h5 {
        margin: 0px 0px 10px;
        font-size: 14px;
    }
    .box-price {
        height: 450px;
    }
    .services_Sec .tabs-left>li.active a {
        font-size: 14px;
    }
    .services_Sec ul li a {
        font-size: 14px;
    }
    .tab-content .tab-pane li {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .testomonial .testomonial-heading h3 {
        font-size: 25px;
    }
    .testomonial {
        padding: 40px 0px 0px;
    }
    .textformsec h4 {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .textformsec h5 {
        line-height: 20px;
        font-size: 30px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .textformsec p {
        line-height: 25px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .contac-us .quick-box {
        width: 100%;
        padding: 20px;
        margin-top: -150px;
    }
    .contac-us .quick-box h6 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 30px;
    }
    .fromzon .form-group {
        max-width: calc(97% / 2);
    }
    .contac-us .quick-box .form-group {
        margin-bottom: 30px;
        width: 100%;
        max-width: 100%;
    }
    .quick-box .form-group:nth-child(even) {
        margin-left: 5px;
    }
    .contac-us .quick-box .form-group label {
        font-size: 13px;
    }
    .quick-box .form-group .form-control {
        height: 35px;
        padding: 5px 0;
        font-size: 13px;
    }
}

@media(max-width:767px) {
    header.secdiv {
        padding: 5px 0px 0px;
    }
    .nav-toggle {
        position: relative;
        margin: 0;
        width: 40px;
        height: 45px;
        padding: 5px 7px;
        margin-right: 0;
        display: inline-block;
        float: right;
        border-radius: 4px;
        top: 4px;
        border: 1px solid #1710461f;
    }
    .nav-toggle div {
        width: 100%;
        height: 3px;
        background: #171046;
        margin: 6px auto;
        transition: all 0.3s;
        text-align: right;
        border-radius: 10px;
        font-size: large;
    }
    .nav-toggle .two {
        width: 80%;
        margin-right: 0;
    }
    .nav-toggle .three {
        width: 60%;
        margin-right: 0;
    }
    .custom-software ul {
        flex-direction: column;
        display: flex;
    }
    nav {
        display: none;
    }
    nav {
        position: absolute;
        top: 100%;
        height: 100vh;
        background: #000000c4;
        left: 0;
        width: 100%;
    }
    a.logo img {
        width: Auto;
        height: 100%;
    }
    nav ul {
        width: 70%;
        display: inline-block;
        margin: 0;
        padding: 10px 0px;
        float: left;
        height: 100%;
        text-align: right;
        background: #1a1348;
    }
    nav ul li {
        width: 100%;
        text-align: left;
        padding: 5px 20px;
        margin: 0px 0px 0px;
        border-bottom: 1px dashed #140e3b;
        line-height: 35px;
    }
    nav ul li a {
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
    }
    ul.dropdown {
        display: none;
    }
    nav ul li:hover ul {
        display: none;
    }
    nav ul li.dropnav.active .dropdown {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        left: 0;
        width: 100%;
        background: unset;
        border: unset;
        box-shadow: unset;
    }
    nav ul li ul li {
        margin: 0;
        padding: 5px 10px;
        border-bottom: unset;
        padding-right: 0;
        margin-bottom: 5px;
    }
    nav ul li ul li a {
        font-size: 11px;
        font-weight: 400;
        color: #fff;
        line-height: 20px;
    }
    .slider .col-lg-8,
    .slider .col-lg-4 {
        margin: 0;
        padding: 0;
    }
    .slider .banrcntprd span {
        font-size: 18px;
        line-height: 20px;
    }
    .slider .banrcntprd h2 {
        font-size: 20px;
        line-height: 30px;
        padding: 10px 0px 5px;
    }
    .slider .banrcntprd h3 {
        line-height: 25px;
        font-size: 16px;
        margin: 5px 0 0px;
    }
    .slider .banrcntprd {
        padding: 30px 15px 20px;
    }
    .slider .col-lg-4 .banrcntprd {
        padding-left: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .parthneranddivier {
        padding: 15px 0px;
        text-align: center;
    }
    .parthneranddivier h3 {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 5px;
    }
    .parthneranddivier h4 {
        font-size: 35px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .parthneranddivier p {
        font-size: 13px;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
    .aboutus {
        padding: 30px 0px;
    }
    .aboutus h3 {
        font-size: 14px;
    }
    .aboutus h4 {
        font-size: 25px;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .aboutus p {
        font-size: 14px;
        line-height: 25px;
        margin: 0px 0 15px;
    }
    .aboutus h5 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .aboutus a {
        padding: 10px 30px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .aboutus form {
        padding: 20px;
        margin: 0;
        display: inline-block;
        top: 0px;
        left: 0;
    }
    .aboutus form h4 {
        margin-bottom: 30px;
        font-size: 20px;
    }
    .aboutus .form-group label {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .aboutus .form-group .form-control {
        font-size: 14px;
        padding: 0px 10px;
        font-weight: 400;
        height: 40px;
    }
    .aboutus .btnsection button {
        width: 50px;
        height: 50px;
    }
    .aboutus .btnsection button i {
        font-size: 23px;
    }
    .whychociesus {
        padding: 30px 0px 30px !important;
    }
    .whychociesus h2 {
        padding-left: 0;
        margin-bottom: 30px;
    }
    .custom-software h2,
    .prices_Sec h4,
    .whychociesus h2 {
        font-size: 20px;
        margin: 0px 0px 30px;
    }
    .whychociesus .box-whych {
        padding: 15px;
        margin-bottom: 20px;
    }
    .whychociesus .box-whych h5 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .whychociesus .box-whych p {
        line-height: 25px;
        font-size: 15px;
    }
    .custom-software {
        padding: 30px 0px 30px;
    }
    .custom-software p {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 20px;
        width: 100%;
        text-align: justify;
    }
    .custom-software ul {
        padding: 0;
        margin: 0;
    }
    .custom-software ul li a h6 {
        font-size: 14px;
        line-height: 20px;
        margin: 10px auto 0px;
    }
    .custom-software ul li {
        padding-bottom: 15px;
        width: 100%;
        max-width: 100%;
    }
    .widget-textArea {
        padding: 30px 0px 30px;
    }
    .widget-heading h3 {
        margin-bottom: 0px;
        font-size: 14px;
        letter-spacing: 0;
    }
    .widget-heading h2 {
        font-size: 35px;
        letter-spacing: 0;
        margin: 10px 0px 15px;
        line-height: 45px;
    }
    .widget-textArea .widget-list p {
        font-size: 14px;
        line-height: 30px;
        padding-bottom: 10px;
        text-align: justify;
    }
    .widget-textArea .widget-number h3 {
        font-size: 20px;
    }
    .widget-textArea .widget-number p {
        font-size: 13px;
        padding: 10px 0px 0px;
        line-height: 20px;
    }
    .coutsection {
        padding: 10px 5px;
    }
    .prices_Sec {
        padding: 0px 0px 20px;
    }
    .prices_Sec h4.titlesection {
        margin-bottom: 10px;
        line-height: 55px;
        font-size: 25px;
    }
    .box-price {
        padding: 20px 20px 80px;
        height: unset;
    }
    .tab-section:hover .btn-section {
        bottom: 20px;
    }
    .tab-content h3 {
        font-size: 18px;
        margin-bottom: 15px;
        line-height: 25px;
    }
    .tab-content {
        margin-top: 20px;
    }
    .tab-content .tab-pane li {
        font-size: 15px;
        line-height: 25px;
        padding-right: 0;
        margin-bottom: 10px;
    }
    .testomonial .testomonial-heading h3 {
        font-size: 20px;
    }
    .testomonial .testomonial-box {
        padding: 30px;
        margin: 10px 0px 10px;
        height: 100%;
    }
    .testomonial {
        margin: 0px auto;
        padding: 30px 0px 30px;
        width: 100%;
    }
    .textformsec h4 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .textformsec h5 {
        line-height: 45px;
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .textformsec p {
        line-height: 25px;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .contac-us .quick-box {
        width: 100%;
        padding: 20px;
        margin-top: 0;
    }
    .contac-us .quick-box h6 {
        display: block;
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .contac-us .quick-box .form-group {
        height: auto;
        margin-bottom: 30px;
    }
    .fromzon .form-group {
        max-width: calc(93% / 2);
    }
    .contac-us .quick-box .form-group label {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .quick-box .form-group .form-control {
        height: 30px;
        width: 100%;
        margin: 0;
        font-size: 14px;
    }
    .contac-us .quick-box .form-group.fullsection textarea {
        height: 80px px;
    }
    .contac-us .quick-box .btnsection button {
        width: 50px;
        height: 50px;
    }
    .contac-us .quick-box .btnsection button i {
        font-size: 20px;
    }
    .copyright p {
        font-size: 12px;
    }
    .testomonial .owl-dots {
        display: none;
    }
    .text-are {
        padding-right: 0px;
    }
    .custom-software ul li:nth-child(3n+2) {
        margin-right: 0;
        margin-left: 0;
    }
    .quick-box .form-group:nth-child(even) {
        margin-left: 0px;
    }
    .textformsec ul {
        margin: 20px 0px 30px;
    }
}