:root {
    --font-family-light: 'lato_lightregular';
    --font-family-regular: 'latoregular';
    --font-family-semi-bold: 'latoregular';
    --font-family-medium: 'latoregular';
    --font-family-bold: 'latobold';
    --font-family-extrabold: 'lato_blackregular'
}

body {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #FFFFFF;
    font-family: sans-serif
}

@font-face {
    font-family: lato_blackregular;
    src: url(../font/lato-black-webfont.woff2) format('woff2'), url(../font/lato-black-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: lato_blackitalic;
    src: url(../font/lato-blackitalic-webfont.woff2) format('woff2'), url(../font/lato-blackitalic-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: latobold;
    src: url(../font/lato-bold-webfont.woff2) format('woff2'), url(../font/lato-bold-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: latobold_italic;
    src: url(../font/lato-bolditalic-webfont.woff2) format('woff2'), url(../font/lato-bolditalic-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: latoitalic;
    src: url(../font/lato-italic-webfont.woff2) format('woff2'), url(../font/lato-italic-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: lato_lightregular;
    src: url(../font/lato-light-webfont.woff2) format('woff2'), url(../font/lato-light-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: lato_lightitalic;
    src: url(../font/lato-lightitalic-webfont.woff2) format('woff2'), url(../font/lato-lightitalic-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: latoregular;
    src: url(../font/lato-regular-webfont.woff2) format('woff2'), url(../font/lato-regular-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: lato_hairlineregular;
    src: url(../font/lato-thin-webfont.woff2) format('woff2'), url(../font/lato-thin-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: lato_hairlineitalic;
    src: url(../font/lato-thinitalic-webfont.woff2) format('woff2'), url(../font/lato-thinitalic-webfont.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block
}

.secdiv {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%
}

a {
    text-decoration: none
}

.nav-toggle {
    display: none
}

nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: max-content;
    text-align: right;
    float: right
}

nav ul li {
    padding: 0;
    width: auto;
    display: inline-block;
    line-height: 55px;
    margin: 0 16px;
    position: relative
}

nav ul li a {
    color: #150e44;
    font-weight: 600;
    font-size: 16px;
    display: block;
    transition: color .2s linear, background .2s linear;
    font-family: var(--font-family-regular);
    text-transform: capitalize
}

nav ul li ul {
    display: none
}

a.logo {
    position: relative;
    margin: 0;
    padding: 0;
    height: 55px;
    display: inline-block
}

nav ul li a span {
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    margin-left: 5px
}

a.logo img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block
}

header.secdiv {
    display: block;
    padding: 5px 0px;
    z-index: 999
}

nav ul li:hover>ul {
    display: inline-block;
    position: absolute;
    top: 100%
}

nav ul li ul {
    text-align: left;
    float: unset;
    border-radius: 4px;
    background: #fff;
    margin: 0;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 15%);
    border: 1px solid #aaa;
    transition: 0.5s all linear;
    position: absolute;
    top: 100%;
    width: 300px;
    padding: 10px 0px;
    z-index: 2;
    left: -20px
}

nav ul li ul li:last-child {
    border-bottom: unset
}

nav ul li ul li {
    width: 100%;
    display: block;
    position: relative;
    margin: 0;
    padding: 5px 15px;
    border-bottom: 1px solid #f2f2f2;
    line-height: 20px
}

nav ul li ul li a {
    font-size: 14px;
    font-weight: 400;
    transition: 0.5s all linear;
    color: #000;
    font-family: 'latoregular';
    letter-spacing: 0.3px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 20px
}

nav ul li ul li a span {
    font-size: 11px;
    position: relative;
    margin: 0px 0px;
    margin-right: 10px;
    transition: 0.5s all linear
}

.slider {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    width: 100%
}

#hero-slider {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block
}

.slider .banrcntprd {
    position: relative;
    margin: 0;
    padding: 50px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.slider .banrcntprd h1 {
    font-size: 34px;
    display: block;
    color: #000;
    line-height: 40px;
    font-family: 'latoregular', Arial, Helvetica
}

.slider .banrcntprd h2 {
    font-size: 40px;
    line-height: 50px;
    text-align: left;
    width: 100%;
    color: #1a1348;
    margin: 0;
    font-family: var(--font-family-bold);
    font-weight: 800;
    padding: 10px 0px;
    text-transform: capitalize
}

.slider .banrcntprd h3 {
    line-height: 40px;
    font-size: 25px;
    margin: 5px 0 0px;
    color: #000;
    font-style: normal;
    font-family: var(--font-family-light);
    display: block;
    font-weight: 800
}

#hero-slider .owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: max-content;
    display: none
}

#hero-slider .owl-nav {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: contents;
    top: 0
}

#hero-slider .owl-nav button {
    position: absolute;
    top: 40%;
    margin: 0;
    width: 25px;
    height: 50px;
    background: #ededed;
    border-radius: 4px
}

.owl-nav button.owl-next {
    right: 0
}

#hero-slider .owl-nav button.owl-prev {
    left: 0
}

#hero-slider .owl-nav button.owl-next {
    right: 0
}

.slider .banrcntprd img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    display: block;
    height: unset !important
}

.widget-textArea {
    padding: 50px 0px 50px;
    margin: 0px;
    background: #f2f2f2
}

.widget-heading {
    margin: 0;
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.widget-heading h3 {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.3px
}

.widget-heading h2 {
    font-size: 45px;
    letter-spacing: -1px;
    font-weight: 700;
    margin: 0px;
    line-height: 60px
}

.widget-heading h2 span {
    font-family: Playfair Display, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 48px;
    letter-spacing: -1px
}

.widget-textArea .widget-list {
    margin: 0px;
    padding: 0px;
    width: 100%
}

.widget-textArea .widget-list p {
    font-size: 16px;
    line-height: 33px;
    font-family: hero-new, sans-serif;
    padding-bottom: 10px
}

.widget-textArea .widget-list p b {
    font-weight: 700
}

.widget-textArea .widget-number {
    margin: 0px auto;
    width: 100%;
    display: flex;
    text-align: center
}

.widget-textArea .widget-number h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin: 0;
    padding: 0
}

.widget-textArea .widget-number p {
    font-size: 20px;
    font-weight: 600;
    color: #504f4f;
    margin: 0;
    padding: 0
}

.services_Sec .tabs-left,
.services_Sec .tabs-right {
    border-bottom: none
}

.services_Sec .tabs-left {
    border-right: 1px solid #ddd
}

.services_Sec .tabs-right {
    border-left: 1px solid #ddd
}

.services_Sec .tabs-left>li,
.services_Sec .tabs-right>li {
    float: none;
    margin-bottom: 0px;
    transition: 0.5s all linear
}

.services_Sec .tabs-left>li {
    margin-right: -1px;
    transition: 0.5s all linear
}

.services_Sec .tabs-right>li {
    margin-left: -1px
}

.services_Sec .tabs-left>li.active>a,
.services_Sec .tabs-left>li.active>a:hover,
.services_Sec .tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
    transition: 0.5s all linear
}

.services_Sec .tabs-right>li.active>a,
.services_Sec .tabs-right>li.active>a:hover,
.services_Sec .tabs-right>li.active>a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent
}

.services_Sec .tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
    transition: 0.5s all linear;
    font-family: 'latoregular'
}

.services_Sec .tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0
}

.tab-content .tab-pane li {
    padding-left: 0px !important;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    line-height: 35px;
    border-bottom: unset
}

.tab-content .tab-pane ul {
    padding-left: 30px;
    padding: 0px 25px 0px
}

.services_Sec ul {
    margin: 0;
    width: 100%;
    display: inline-block;
    padding: 20px 0px;
    border-radius: 4px;
    background: #fff
}

.services_Sec {
    background: #f2f2f2;
    padding: 30px 0px
}

.services_Sec ul li {
    width: 100%;
    margin: 0;
    padding: 0px 20px;
    border-bottom: 1px solid #f2f2f2;
    transition: 0.5s all linear
}

.services_Sec ul li a {
    display: block;
    font-size: 15px;
    color: #222;
    font-weight: 500;
    line-height: 40px;
    transition: 0.5s all linear
}

.services_Sec .tabs-left>li.active {
    background: #92bb3d;
    transition: 0.5s all linear;
    border-left: 2px solid #000;
    border-right: 2px solid #000
}

.services_Sec .tabs-left>li.active a {
    color: #000;
    padding-left: 5px;
    font-size: 15px;
    transition: 0.5s all linear
}

.tab-content {
    position: relative;
    margin: 0;
    width: 100%;
    background: #ffff;
    padding: 20px;
    border-radius: 4px
}

.tab-content h3 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px
}

.tab-content p {
    font-size: 16px;
    line-height: 30px;
    font-family: hero-new, sans-serif;
    padding-bottom: 20px
}

.tab-content img {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative
}

.tab-content .imgbox {
    width: 40%;
    margin: 0;
    position: relative;
    display: inline-block;
    margin-top: 20px
}

.parthneranddivier {
    position: relative;
    margin: 0;
    padding: 15px 0px;
    background: #1a1348
}

.parthneranddivier h3 {
    color: #ffffff;
    float: left;
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 0;
    padding-bottom: 0
}

.parthneranddivier h4 {
    color: #fff;
    float: left;
    width: 100%;
    font-size: 45px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 5px
}

.parthneranddivier p {
    color: #ffffff;
    float: left;
    font-size: 14px;
    margin-bottom: 0;
    letter-spacing: 0.5px
}

.custom-software {
    position: relative;
    padding: 50px 0px 50px;
    margin: 0
}

.custom-software h2,
.prices_Sec h2,
.whychociesus h2 {
    font-size: 45px;
    font-weight: 700;
    margin: 0px 0px 30px !important;
    text-align: center;
    color: #000
}

.custom-software p {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #000;
    font-family: 'latoregular';
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px
}

.custom-software ul {
    width: 100%;
    display: flex;
    gap: 10px
}

.custom-software ul li {
    width: 100%;
    height: auto;
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid #4f4e4e;
    box-shadow: 0px 0px 10px #00000014;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    position: relative
}

.custom-software ul li a {
    color: #565656;
    font-size: 14px
}

.custom-software ul li a img {
    height: 70px;
    object-fit: contain;
    margin: 20px 0px 0px
}

.custom-software ul li a h2 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 20px;
    margin: 25px auto;
    color: #222
}

.custom-software ul li:hover {
    background: radial-gradient(#ffffff, #f2f2f2);
    box-shadow: 0 9px 59.8px 5.2px rgb(0 0 0 / 13%);
    color: #fff
}

.custom-software ul li a:hover {
    color: #fff
}

.parthneranddivier .item {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

.parthnamerlogo,
.parthnamerlogo .owl-stage-outer,
.parthnamerlogo .owl-stage-outer .owl-stage,
.parthnamerlogo .owl-stage-outer .owl-item,
.parthnamerlogo .owl-stage-outer .item,
.parthnamerlogo .owl-stage-outer .parthlogo {
    height: 100%
}

.parthnamerlogo .owl-stage-outer .parthlogo img {
    height: 100%;
    object-fit: contain;
    width: 100%
}

.parthnamerlogo .owl-stage-outer .item .parthlogo {
    border: 1px solid #110942;
    border-right: unset;
    border-radius: 4px
}

.aboutus {
    padding: 50px 0px;
    position: relative
}

.aboutus h1 {
    color: #1a1348;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    font-weight: 700
}

.aboutus h4 {
    font-size: 35px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 10px;
    color: #212121;
    margin-bottom: 25px
}

.aboutus p {
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0 0;
    font-weight: 400;
    color: #222;
    text-align: justify
}

.aboutus a {
    background: #1a1348;
    padding: 10px 30px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    width: max-content;
    margin-top: 30px;
    font-weight: 700;
    letter-spacing: 0.5px
}

.aboutus form {
    width: 100%;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 0 10px 7px rgb(0 0 0 / 6%);
    padding: 40px;
    margin: 0;
    display: block;
    float: right;
    position: sticky;
    z-index: 9;
    top: 30px
}

.aboutus h5,
.aboutus h2 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px
}

.text-are {
    position: relative;
    margin: 0;
    padding-right: 30px
}

.aboutus form h4 {
    margin-bottom: 30px;
    font-size: 30px;
    padding-left: 0
}

.aboutus form .from-sectiona {
    position: relative;
    margin: 0;
    padding: 0
}

.aboutus .form-group {
    height: auto;
    margin-bottom: 20px
}

.aboutus .form-group label {
    font-size: 14px;
    color: #000;
    width: 100%;
    display: inline-block;
    font-family: var(--font-family-medium);
    font-weight: 400;
    margin-bottom: 5px
}

.aboutus .form-group .form-control {
    font-size: 15px;
    color: #212121;
    display: block;
    width: 100%;
    margin: 0;
    line-height: normal;
    padding: 0px 10px;
    font-family: var(--font-family-regular);
    font-weight: 400;
    height: 45px;
    border: 1px solid #c9c8c8;
    border-radius: 4px
}

.aboutus .form-group textarea {
    height: 150px !important;
    font-size: 18px;
    padding: 15px 10px !important
}

.aboutus .btnsection button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #004BB8;
    border: unset;
    margin: 0;
    color: #fff;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.aboutus .btnsection button i {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    padding: 0
}

.aboutus .btnsection {
    position: absolute;
    bottom: 10px;
    right: 20px
}

.coutsection {
    border-right: 2px solid #222;
    margin: 0;
    padding: 10px 0px;
    background: #fff
}

.widget-textArea .widget-number .col-md-4:first-child .coutsection {
    border-left: 2px solid #222
}

.tab-section {
    position: relative;
    margin: 0px 0px 15px;
    padding: 0;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer
}

.box-price {
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #00000075;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
    display: inline-block;
    animation: animate 5s linear infinite;
    width: 100%;
    background: #211b1b url("../Images/footer-bg.png");
    background-blend-mode: multiply;
    transition: all 0.3s ease-in-out;
    height: 550px
}

@keyframes animate {
    0% {
        background-position: 0 0
    }
    20% {
        background-position: 0 -44px
    }
    40% {
        background-position: 0 -80px
    }
    60% {
        background-position: 0 -100px
    }
    80% {
        background-position: 0 -60px
    }
    100% {
        background-position: 0 0
    }
}

.box-price svg,
.box-price svg rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    fill: transparent
}

.box-price svg rect {
    stroke: #ffc80a;
    stroke-width: 8px;
    stroke-dasharray: 400;
    animation: boderline 6s linear infinite;
    width: 100%;
    height: 100%;
    display: inline-flex;
    transition: all 0.3s ease-in-out
}

@keyframes boderline {
    0% {
        stroke-dashoffset: 800
    }
    100% {
        stroke-dashoffset: 0
    }
}

section.price-tab .box-price:hover svg {
    display: none
}

.box-title {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: all 0.3s ease-in-out
}

.box-price .box-title h2 {
    z-index: 1;
    position: absolute;
    top: 95px;
    left: 85%;
    margin: 0;
    padding: 0;
    font-size: 15em !important;
    color: rgb(255 255 255 / 13%);
    transition: 0.2s;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.3s ease-in-out
}

.box-price h3 {
    width: 100%;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px !important;
    line-height: 30px;
    transition: all 0.3s ease-in-out
}

.box-price h4 {
    margin-right: 10px;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    margin: 0 auto;
    line-height: 0.75;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    letter-spacing: 0;
    line-height: 35px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.box-price h4 sup {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    font-weight: 500;
    font-size: 25px;
    line-height: 1;
    transition: all 0.3s ease-in-out;
    margin-right: 5px
}

.box-price h4 span {
    margin: 0;
    padding: 0;
    width: max-content;
    text-align: left
}

.box-price h4 sub {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-transform: initial;
    transition: all 0.3s ease-in-out
}

.box-price h5 {
    text-align: left;
    margin: 0px 0px 20px;
    padding: 0;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 10px;
    width: max-content;
    display: inline-block;
    transition: all 0.3s ease-in-out
}

.box-price span.featured {
    width: 200px;
    position: absolute;
    top: 20px;
    right: -60px;
    transform: rotate(35deg);
    z-index: 1;
    font-size: 14px;
    padding: 3px 0 3px 0;
    background: linear-gradient(90deg, #ff8500 0%, #ff6000 100%);
    color: #fff;
    box-shadow: 0 0 10px #040404;
    font-weight: bold;
    transition: all 0.3s ease-in-out
}

.box-price .pakes-area {
    position: relative;
    width: 100%;
    display: block;
    float: left;
    margin: 0;
    padding-top: 10px;
    margin-top: 5px;
    border-top: 1px solid #2f2c2c;
    height: auto;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    overflow-y: auto
}

.box-price .pakes-area ul {
    margin: 0;
    text-align: left;
    color: #fff;
    transition: all 0.3s ease-in-out
}

.box-price .pakes-area ul li {
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #fff;
    font-weight: 500;
    line-height: 25px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px
}

.btn-section {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 0;
    width: 100%;
    transition: 0.5s all;
    transition-timing-function: linear;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(200%)
}

.btn-section a {
    position: relative;
    margin: 0 auto;
    padding: 10px 30px;
    display: block;
    border: 1px solid #fff;
    border-radius: 50px;
    width: max-content;
    font-size: 16px;
    color: #ffff;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in-out
}

.box-price .btn-section a:hover {
    background: #ff0b00;
    border: unset;
    font-size: 18px;
    padding: 8px 40px;
    border: 1px solid #ff0b00;
    transition: all 0.3s ease-in-out
}

.tab-section:hover .btn-section {
    bottom: 30px;
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    transform: translateY(0%)
}

.box-price .btn-section a:hover {
    background: #ff0b00;
    border: unset;
    font-size: 18px;
    padding: 8px 40px;
    border: 1px solid #ff0b00;
    transition: all 0.3s ease-in-out
}

.tab-section .btn-section:hover a {
    background: #ffce24;
    border: unset;
    font-size: 18px;
    padding: 8px 40px;
    border: 1px solid #ffce24;
    color: #000;
    font-weight: 700;
    transition: all 0.3s ease-in-out
}

.tab-section:hover .box-title h2 {
    left: 21%;
    font-size: 7em !important;
    color: rgb(255 255 255 / 20%);
    transition: all 0.3s ease-in-out
}

.prices_Sec {
    position: relative;
    margin: 0;
    padding: 50px 0px;
    transition: all 0.3s ease-in-out
}

.prices_Sec h2 {
    margin-bottom: 50px !important
}

.custom-software h2 {
    margin-bottom: 10px
}

.box-price .pakes-area p {
    color: #fff;
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    margin: 0px 0px 15px;
    padding: 0
}

.box-price .pakes-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff
}

.box-price .pakes-area::-webkit-scrollbar {
    width: 2px;
    background-color: #fff
}

.box-price .pakes-area::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffff;
    border: 2px solid #ff6500
}

.prices_Sec h4.titlesection {
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    line-height: 75px
}

.box-price:before {
    content: '';
    background: linear-gradient( 30deg, #e0dfdd12, #e0dfdd17);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0)
}

.whychociesus {
    padding: 50px 0px 50px !important;
    margin: 0px;
    background: #1a1348 url("../Images/backgroundSquaresMalibuBlue.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top, center;
    background-blend-mode: difference
}

.whychociesus h2 {
    color: #fff !important;
    margin-bottom: 50px !important;
    display: inline-block
}

.whychociesus .box-whych {
    border: 1px solid #fff;
    padding: 20px;
    height: 200px;
    border-radius: 4px;
    background: #ffffff17;
    cursor: pointer;
    transition: 0.5s all linear;
    box-shadow: 0 0 10px #00000026
}

.whychociesus .box-whych h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'latobold';
    color: #222 !important;
    margin-bottom: 15px !important
}

.whychociesus .box-whych p {
    margin: 0;
    padding: 0;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: #222;
    font-weight: 500;
    font-family: 'latoregular'
}

.whychociesus .box-whych:hover {
    transition: 0.5s all linear;
    transform: scale(1.1);
    box-shadow: 0 5px 10px #0000004f;
    background: #ffffff3b
}

.contac-us {
    margin: 0;
    padding: 50px 0px 50px;
    background: #1a1348 url("../Images/inq-bg-01.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top, center;
    position: relative;
    z-index: 2
}

.contac-us:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #070225;
    opacity: 0.5;
    z-index: -1
}

.contac-us .quick-box {
    width: 90%;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px 7px rgb(0 0 0 / 5%);
    padding: 50px;
    margin: 0 auto;
    display: block;
    float: right;
    position: relative;
    z-index: 9;
    margin-top: -200px
}

.contac-us .quick-box h6 {
    display: block;
    font-size: 30px;
    line-height: 36px;
    font-family: 'latoregular';
    margin-bottom: 40px;
    font-weight: 800
}

.contac-us .quick-box .form-group {
    height: auto;
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    display: inline-block
}

.contac-us .quick-box .form-group label {
    font-size: 14px;
    color: #333333;
    width: 100%;
    display: inline-block;
    font-family: var(--font-family-medium);
    font-weight: 400;
    max-width: 100%;
    margin-bottom: 5px
}

.quick-box .form-group .form-control {
    height: 45px;
    color: rgb(33 33 33);
    display: block;
    width: 100%;
    margin: 0;
    line-height: normal;
    padding: 5px 0;
    font-family: var(--font-family-regular);
    font-weight: 400;
    border: unset;
    border-bottom: 1px solid #000;
    border-radius: unset;
    font-size: 15px
}

.fromzon {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%
}

.fromzon .form-group {
    width: 100%;
    max-width: calc(95% / 2);
    margin: 0;
    padding: 0;
    display: inline-block
}

.quick-box .form-group:nth-child(even) {
    margin-left: 15px
}

.contac-us .quick-box .form-group.fullsection {
    width: 100%;
    max-width: 100%;
    position: relative
}

.contac-us .quick-box .form-group.fullsection textarea {
    height: 100px
}

.contac-us .quick-box .btnsection button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #0067ff;
    border: unset;
    margin: 0;
    color: #fff;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.contac-us .quick-box .btnsection button i {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    padding: 0
}

.contac-us .quick-box .btnsection {
    position: absolute;
    bottom: 20px;
    right: 20px
}

.textformsec {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%
}

.textformsec h4 {
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-weight: 700
}

.textformsec h5 {
    display: block;
    color: #ffffff;
    line-height: 52px;
    font-family: unset;
    font-size: 45px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px
}

.textformsec p {
    color: #fff;
    line-height: 30px;
    font-size: 17px;
    text-align: justify;
    margin-bottom: 20px
}

.copyright {
    position: relative;
    margin: 0;
    padding: 5px 0px;
    display: inline-block;
    width: 100%;
    background: #222
}

.copyright p {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff
}

.testomonial {
    margin: 0px auto;
    padding: 40px 0px 30px;
    width: 100%
}

.testomonial .testomonial-heading {
    text-align: center;
    margin: 0px;
    padding: 0px 0px 30px
}

.testomonial .testomonial-heading h3 {
    font-size: 30px;
    font-weight: 700;
    color: #000000
}

.testomonial .testomonial-heading h3 span {
    color: #8A4300
}

.testomonial .testomonial-box {
    background-color: #FFFFFF;
    box-shadow: 0px 5px 15px 0 rgb(0 0 0 / 12%);
    border-radius: 10px;
    padding: 30px;
    position: relative;
    width: 100%;
    margin: 20px 0px 30px;
    height: 400px
}

.testomonial .testomonial-box ul {
    margin: 0px 0px 15px;
    padding: 0px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 2px
}

.testomonial .testomonial-box ul li {
    color: #b1661f;
    width: max-content;
    margin: 0;
    padding: 0;
    list-style: none
}

.testomonial .testomonial-box p {
    font-size: 15px;
    margin: 00px 0px 30px;
    line-height: 25px;
    text-align: justify;
    color: #333333
}

.testomonial .testomonial-box img {
    height: 60px;
    width: 60px !important;
    border: 5px solid #fff;
    box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    display: inline-block !important
}

.testomonial .testomonial-box h3 {
    font-size: 15px;
    letter-spacing: 0.3px;
    position: relative;
    width: max-content;
    display: inline-block;
    font-weight: 600
}

.imgtex {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px
}

.textformsec ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%
}

.textformsec ul li {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 14px
}

.textformsec ul li a {
    color: #fff;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-size: 17px;
    gap: 10px;
    cursor: pointer
}

.textformsec ul li a span {
    background: #0067ff;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 13px
}

.headingtitle {
    color: #000000 !important;
    font-size: 35px !important;
    font-weight: 700 !important;
    margin: 0px 0px 30px !important;
    text-align: center !important
}

.whychociesus h2 span {
    color: #002
}

.headingtitle span {
    color: #8A4300
}

.textformsec ul li .socialmedia {
    display: flex;
    gap: 20px
}

.textformsec ul li .socialmedia a:last-child span {
    font-size: 20px;
    background: #198754
}

.custom-software ul li a i {
    position: absolute;
    bottom: 10px
}

.textformsec h6 {
    color: #fff;
    font-size: 18px;
    margin: 10px 0px 15px
}

.textformsec .socialmedia {
    position: relative
}

.textformsec .socialmedia li {
    display: inline-block;
    width: max-content;
    margin-right: 10px
}

.textformsec .socialmedia li a span {
    font-size: 15px
}

.aboutus .form-group span,
.contac-us .quick-box .form-group span {
    color: #f00;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    font-size: 12px;
}

#contactFormTop h2 {
    font-size: 32px;
    margin: 0px 0px 30px;
    padding: 0;
    font-weight: 900;
}