<!--testomonial-->
<div class="testomonial">
    <div class="container-fluid">
        <div class="row">
            <div class="testomonial-heading">
                <h3 class="headingtitle">What our <span>clients are
                            saying</span></h3>
            </div>

            <div class="owl-carousel owl-theme" id="testomonial_Slider">
                <div class="item">
                    <div class="testomonial-box">
                        <ul>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>Xpand360 is proving to be an absolute game-changer for our business. Their SEO expertise catapulted our website to the top of search results for some important keywords, significantly increasing our organic traffic
                        </p>
                        <div class="imgtex">
                            <img src="/Images/user.webp" alt="Taxmanager.in">
                            <h3>Karan from Taxmanager.in</h3>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testomonial-box">
                        <ul>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>Despite of being not much old in the system, Xpand360 has been a fantastic experience for us. Facebook & Google campaigns have driven some good targeted traffic to our site and helped us achieve our conversion goals. Their dedication
                            to data-driven results is unparalleled, and their team's responsiveness is commendable </p>
                        <div class="imgtex">
                            <img src="/Images/user.webp" alt="Neeraj from Realbooks.in Images">
                            <h3>Neeraj from Realbooks.in </h3>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testomonial-box">
                        <ul>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p> Xpand360 is now an extension of our marketing team. Their holistic approach to digital marketing, from website design to email campaigns, is streamlining our online presence and delivering consistent, impressive results. We highly
                            recommend Xpand360 to anyone seeking a true partner in success</p>
                        <div class="imgtex"><img src="/Images/user.webp" alt="Lovely from Lovelycrockery.com Images">
                            <h3>Lovely from Lovelycrockery.com </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our Partners -->
<div class="our_partners">
    <div class="container">
        <div class="row">
            <h3>Our clients</h3>
            <div class="owl-carousel owl-theme our_partners_logo_industry">
                <div class="item">
                    <a href="https://www.swashaa.com/">
                        <img alt="Featured In | TaxManager.in" width="auto" height="auto" class="lazy lazyload" src="/Images/logo2.webp">
                    </a>
                </div>
                <div class="item">
                    <a href="http://www.extracareproducts.com/">
                        <img alt="Featured In | TaxManager.in" width="auto" height="auto" class="lazy lazyload" src="/Images//logo1.webp">
                    </a>
                </div>
                <div class="item">
                    <a href="https://realbooks.in/">
                        <img alt="Featured In | TaxManager.in" width="auto" height="auto" class="lazy lazyload" src="/Images//logo3.webp">
                    </a>
                </div>
                <div class="item">
                    <a href="https://www.taxmanager.in/home">
                        <img alt="Featured In | TaxManager.in" width="auto" height="auto" class="lazy lazyload" src="/Images//txm.webp">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Map -->
<div class="map">
    <iframe width="100%" title="Rising_Advisory_Services_Pvt_Ltd_Map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.1870854316458!2d77.13304537550052!3d28.62415447566936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0325bfffffff%3A0x48a3a48865459ba5!2sRising%20Advisory%20Services%20Pvt.%20Ltd!5e0!3m2!1sen!2sin!4v1695816235647!5m2!1sen!2sin"
        height="450" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<!-- Contact US -->
<div class="contac-us secdiv" id="Contact-US">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xl-6">
                <div class="textformsec">
                    <h5>Let’s connect</h5>
                    <p>Digitization is no more an optional requirement for any business in today’s world. It has become an essential element for growth.
                    </p>
                    <p>Please help us understand your business & we’ll help you find different ways of being part of the Digital Marketing Revolution and exponentially scale up.
                    </p>
                    <div class="addressection">
                        <div class="row">
                            <div class="col-md-6">
                                <h6> U.S.A</h6>
                                <ul>
                                    <li>
                                        <div class="socialmedia">
                                            <a href="tel:+1-9517778876">
                                                <span><i class="fa-solid fa-phone"></i></span>+1 951 777 8876
                                            </a>
                                            <a href="https://api.whatsapp.com/send?phone=19517778876&text=Hi%20there,%20I'm%20reaching%20out%20to%20say%20hi!" aria-label="whatsapp api">
                                                <span><i class="fa-brands fa-whatsapp"></i></span>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="mailto:support@Xpand360.com">
                                            <span><i class="fa-solid fa-envelope"></i></span> support@Xpand360.com
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://goo.gl/maps/syaDfon7U4Yza2Jg7">
                                            <span><i class="fa-solid fa-house"></i></span> 1450 W 6th St, Corona, CA 92882
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 pe-0">
                                <h6> India </h6>
                                <ul class="secondaddres">
                                    <li>
                                        <div class="socialmedia">
                                            <a href="tel:+91-9555331122">
                                                <span><i class="fa-solid fa-phone"></i></span>+91-9555331122
                                            </a>
                                            <a href="https://api.whatsapp.com/send?phone=+919870557080&text=Hi%20there,%20I'm%20reaching%20out%20to%20say%20hi!" aria-label="whatsapp api">
                                                <span><i class="fa-brands fa-whatsapp"></i></span>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="mailto:support@Xpand360.com">
                                            <span>
                                                <i class="fa-solid fa-envelope"></i>
                                            </span> support@Xpand360.com
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://goo.gl/maps/syaDfon7U4Yza2Jg7">
                                            <span>
                                                <i class="fa-solid fa-house"></i>
                                            </span> F- 18, Local Shopping Complex, A Block Naraina Vihar, Ring Road, New Delhi-110028
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h6>Follow us</h6>
                    <ul class="socialmedia">
                        <li>
                            <a href="#" aria-label="instagram">
                                <span><i class="fab fa-twitter"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="facebook">
                                <span><i class="fab fa-facebook-f"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="linkedin">
                                <span><i class="fab fa-linkedin-in"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-sm-12  col-xl-6">
                <div class="quick-box">
                    <h6>Hey! there :) </h6>
                    <form action method id="contactFormf">
                        <div class="fromzon">
                            <div class="form-group">
                                <label for="YourName">Your Name*</label>
                                <input type="text" class="form-control" name="uName" id="uName" placeholder="Enter Your Name" required>
                                <span class="error" id="nameError"></span>
                            </div>
                            <div class="form-group">
                                <label for="EmailAddress">Email Address*</label>
                                <input type="email" class="form-control" name="uEmail" id="uEmail" placeholder="Enter Your Email" required>
                                <span class="error" id="emailError"></span>
                            </div>
                            <div class="form-group">
                                <label for="PhoneNumber">Phone Number*</label>
                                <input type="text" class="form-control" name="uPhoneNumber" id="uPhoneNumber" placeholder="Enter Your Number" required>
                                <span class="error" id="numberError"></span>
                            </div>
                            <div class="form-group">
                                <label for="Company">Company</label>
                                <input type="text" class="form-control" name="uCompany" id="uCompany" placeholder="Company Name">
                                <span class="hidden" style="visibility: hidden; opacity: 0;">Company</span>
                            </div>
                            <div class="form-group fullsection">
                                <label for="Messae">Message*</label>
                                <textarea aria-label="Message" name="uMessage" id="uMessage" class="form-control" rows="3"></textarea>
                            </div>
                            <div class="btnsection">
                                <button type="submit" class="submit-btn" value="Submit" id="bottomfrom" name="ubottomfrom" aria-label="bottomfrom">
                                    <i class="far fa-paper-plane"></i>
                                </button>
                            </div>
                            <div class="success-message"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <p>@Xpand360 All rights reserved
            </p>
        </div>
    </div>
</div>