<!-- Header -->
<header class="secdiv">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xl-2">
                <a href="/" aria-label="xpand360 logo" class="logo">
                    <picture>
                        <img src="/Images/logo.webp" alt="xpand360 logo">
                    </picture>
                </a>
                <div class="nav-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xl-10">
                <nav>
                    <ul>
                        <li><a href="/" aria-label="Home">Home</a> </li>
                        <li><a href="/about-us.html" aria-label="about us">About
                                us</a> </li>
                        <li><a href="/prices.html" aria-label="clients">Pricing</a> </li>
                        <li class="dropnav">
                            <a href="/social-media-management.html" aria-label="services">Services
                                <span><i class="fas fa-angle-down"></i></span>
                            </a>
                            <div class="megamenu dropdown">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="megamenu-box">
                                            <h4>Digital Marketing</h4>
                                            <ul>
                                                <li>
                                                    <a href="/digital-marketing/marketing-research-reporting-management.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Marketing Research and Reporting Management</a>
                                                </li>
                                                <li>
                                                    <a href="/digital-marketing/search-engine-optimization.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Search Engine Optimization</a>
                                                </li>
                                                <li>
                                                    <a href="/digital-marketing/social-media-marketing.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Social Media Marketing</a>
                                                </li>
                                                <li>
                                                    <a href="/digital-marketing/paid-ads.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Paid Marketing</a>
                                                </li>
                                                <li>
                                                    <a href="/digital-marketing/online-reputation-management.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Online Reputation Management</a>
                                                </li>
                                                <li>
                                                    <a href="/digital-marketing/content-management.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Content Management</a>
                                                </li>
                                                <li>
                                                    <a href="/digital-marketing/email- whatsapp-marketing.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Email and Whats App Marketing</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="megamenu-box">
                                            <h4>IT Services </h4>
                                            <ul>
                                                <li>
                                                    <a href="/it-services/graphic-design.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Website and Graphic Design</a>
                                                </li>
                                                <li>
                                                    <a href="/it-services/website-designing-and-development.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Website Development</a>
                                                </li>
                                                <li>
                                                    <a href="/it-services/crm-and-erp-development.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Ecommerce and CRM Development</a>
                                                </li>
                                                <li>
                                                    <a href="/it-services/app-development-and-deployment.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Mobile App Development and Deployment</a>
                                                </li>
                                                <li>
                                                    <a href="/it-services/customized-software-application-development.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Customized Software Application Development</a>
                                                </li>
                                                <li>
                                                    <a href="/it-services/api-integration.html"><span><img src="/Images/Websitedevelopment.png" alt=""></span> Api Integration</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </li>
                        <li><a href="/contact-us.html" aria-label="contact us">Contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>